<div class="row" style="padding: 50px;">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <% posts.forEach((element, i) => { %>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#a<%= i %>" aria-expanded="true" aria-controls="collapseOne">
                  <%= element.title %>

                  <% if(Kullanicila.yetki==1){ %>
                  <button style="float:right" type="button" class="btn btn-light">
                    <a href="/blog/delete/<%= element.id %> ">POSTU SİL</a>
                  </button>
                  <% } %>
                  <% if(Kullanicila.yetki==2){ %>
                    <button style="float:right" type="button" class="btn btn-light">
                      <a href="/blog/delete/<%= element.id %> ">POSTU SİL</a>
                    </button>
                    <% } %>
                </button>

              </h5>

            </div>

            <div id="a<%= i %>" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <%= element.text %>
                <p class="text-right"><%= element.date %>.</p>
                <p class="text-right"><%= element.writer %>.</p>
              </div>
            </div>
          </div>
          <% }) %>



        </div>
      </div>
    </div>
  </div>